<html>
<head>
    <meta charset="UTF-8">
    <title>Listagem de produto</title>
</head>
<body>
    <div class="erros">
        <%if(errosValidacao){%>
            <ul>
                <% for(var i=0; i<errosValidacao.length; i++){%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
        <%}%>
    </div>
    <form action="/produtos" method="post">
        <div>
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" value="<%produto.titulo%>" placeholder="Informe o titulo do Livro"/>
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" value="<%produto.preco%>" placeholder="120.05"/>
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea cols="20" rows="10" id="descricao" name="descricao" value="<%produto.descricao%>" placeholder="Fale sobre o livro"></textarea>
        </div>

        <input type="submit" value="Gravar"/>
    </form>
</body>
</html>