<html>
<head>
    <meta charset="UTF-8">
    <title>Listagem de produto</title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Titulo</td>
            <td>Descrição</td>
            <td>Preço</td>
        </tr>

            <% for( var i = 0; i<lista.length; i++){ %>
                <tr>
                    <td><%= lista[i].id%></td>
                    <td><%= lista[i].titulo%></td>
                    <td><%= lista[i].descricao%></td>
                    <td><%= lista[i].preco%></td>
                </tr>
            <%}%>

    </table>
</body>
</html>